<h1>Welcome back <%= current_user.email %>! </h1>
    <p class="lead">
      You have signed in!  If this were a real app some sweet content
      would go here.  But it's just a test.  You might want to sign out now.
    </p>