
<h1>About Us </h1>

<h2>Juan Sanchez</h2>
<h3> Super badass programmer #1</h3>

<h2>Brendan Luna</h2>
<h3> Super badass programmer #2</h3>
<h2>Elvyn Mejia</h2>
<h3> Super badass programmer #3</h3>


<!--<p>Find me in app/views/contact_about_pages/about.html.erb</p> -->

