<div class="jumbotron">

<h1>About Us </h1>

<h2>Juan Sanchez: Front-End Developer</h2>
<h2>Elvyn Mejia: Back-End Developer</h2>
<h2>Brendan Luna: Intern</h2>
</div>
<!--<p>Find me in app/views/contact_about_pages/about.html.erb</p> -->

