<!-- change to header-->

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a><%= link_to "Dwell", root_path, class: "navbar-brand" %></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Contact", contact_path %></li>
              <li><%= link_to "About Us", about_path %></li>
          </ul>
        </div>
    </div>
</div>
